body{
    padding: 0px;
    margin: 0px;
}
#wrapper{
    width: 970px;
    height: 680px;
    background-color: #16254b;
    display: inline-block;
    padding-left: 30px;
}
#header{
    width: 930px;
    height: 90px;
    background-color: #c11a29;
    display: block;
    margin-bottom: 24px;
    border-radius: 10px;
}
#header h1{
    /*margin: 30px 0px 0px 20px;*/
    padding-top: 20px;
    padding-left: 20px;
    color: #828581;
}
#left{
    width: 200px;
    height: 260px;
    background-color: #226a79;
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
    padding: 15px 0px 0px 10px;
}
#left ul{
    list-style-type: dot;
    padding-left: 19px;
   
}
#left ul li ul{
    list-style-type: circle;
    /*padding-left: 15px;*/
     margin-left: 10px;
     padding-left: 10px;

}
#left .firsta{
    padding-left: 0px; 
    /*margin-left: 0px;*/
}

#right{
    width: 670px;
    height: 400px;
    background-color: #0d1219;
    display: inline-block;
    margin-left: 15px;
    border-radius: 15px;
    padding: 20px 15px 15px 15px;
    color: white;
}
#right ul{
    list-style-type: dot;
    padding-left: 15px;

}
#right ul li{
    margin-bottom: 10px;
}
#right ul li a{
    display: inline;
}
#right ul li p{
    display: inline;
}
#bottom{
    width: 930px;
    height: 65px;
    background-color: grey;
    /*display: inline-block;*/
    /*margin-bottom: 22px;*/
    vertical-align: bottom;
    margin-top: 30px;
    border-radius: 20px;
}

 

